body { 
    margin: 5px;
    
    background-color:black;
}

.main-gamer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'azul vermelho'
    'verde amarelo';
    grid-gap: 20px;
    border: 20px solid hsla(24, 88%, 33%, 0.039);
    background-color: rgb(212, 117, 73);
    border-radius: 100%;
    width: 600px;
    height: 600px;
}


.blue {
     grid-area: azul;
     background-color: rgb(57, 97, 228);
     border-top-left-radius: 100%;

}
.red {
     grid-area: vermelho;
     background-color: rgb(240, 35, 35);
     border-top-right-radius: 100%;

}
.green {
     grid-area: verde;
     background-color: rgb(26, 109, 1);
     border-bottom-left-radius: 100%;

}
.yellow {
     grid-area: amarelo;
     background-color: yellow;
     border-bottom-right-radius: 100%;

}

.selected {
     opacity: 0.4;
}
