* {
   margin: 0;
   padding: 0;
}

body{
   min-height: 100vh;
   display: grid;
   grid-template-columns: 300px 1fr; /*dividindo as colunas * 300px do menu navegação e o restante 1fr  ||*/
   grid-template-rows: 60px 1fr 60px; /*dividindo as linhas *60px do cabeçario e do rodape 1fr é o que sobrou ===*/
   
}

header{
   display: flex;
   justify-content:space-between;
   background-color:mediumvioletred;
   align-items: center;
   height: 60px;
   padding: 0 20px;
   grid-column: 1/-1; /* vai do inicio ao fim*/
}

.text_icon{
   display: flex;
   align-items: center;
   padding: 10px 0;
}


.icon {
   height: 20px;
   margin-right: 10px;
   width: 20px;
   color: black;
}

button {
   margin: 10px;
   flex-basis: 30px;
   padding: 1px 5px;
}

nav{
   
   background:#f2d0e0;
   padding: 10px;
   width: 200px ;
  

}

nav a{
   text-decoration: none;
   font-weight: bold;
   color:black;
}

.btn_navegar{
   display: flex;
   align-items: center;
   justify-content: space-between;

}

main{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   row-gap: 30px;
   column-gap: 30px;
   margin: 20px;
}

.card{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   box-shadow: 3px 3px 5px darkgray;
   text-align: center;
}

.img_cards{
   width: 100%;

}
.rodape {
   text-align: center;
   background-color:#c71585;
   padding: 15px;
   grid-column: 1/-1;

}
